@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/* font-family: "Open Sans", serif; */

* {
  margin: 0;
  padding: 0;
}
.btn-container {
  text-align: center;
}
.btn {
  border-radius: 8px;
  padding: 10px 18px 10px 18px;
  background: rgb(82, 195, 3);
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}
#hero {
  height: 653px;
  background-image: linear-gradient(
      180deg,
      rgb(9, 9, 9) 3.482%,
      rgba(16, 16, 16, 0) 101.632%
    ),
    url("../assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hero .hero-content {
  width: 726px;
}

#hero .hero-content .sub-title {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.8;
  margin-bottom: 10px;
}
#hero .hero-content .title {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 35px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 18px;
}
#hero .hero-content .description {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  margin-bottom: 26px;
}

#card-box {
  width: 937px;
  margin: 110px auto;
  font-family: Work Sans;
}

#card-box .sub-title {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 10px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.6;
}
#card-box .title {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0%;
  text-align: center;
}

.card-container {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.card {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.card .card-img img {
  width: 300px;
}
.card .shop {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  padding: 8px 14px 8px 14px;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 8px;
  background: rgba(82, 195, 3, 0.15);
  border-radius: 5px;
}
